html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(#b8d3fe, #a8a5a5);
}

.parent {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 8rem;
  margin: 4rem;
}

.parent img {
  width: 40vh;
  border-radius: 5%;
  padding: 2rem;
}

.post {
  border: black 5px;
  border-radius: 5%;
  padding: 3rem;
}
