html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(#b8d3fe, #ddd8d8);
}

#head {
  font-size: 9rem;
  font-family: "Sriracha", cursive;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(12, 12, 66) 50%,
    rgb(32, 69, 180) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1.8s ease;
}

#head:hover {
  background-position: 0 100%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  font-size: 9rem;
  font-family: "Sriracha", cursive;
  margin: 4rem;
}

.parent img {
  width: 36vh;
  border-radius: 1.3rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  filter: grayscale(100%);
}

.parent img:hover {
  filter: none;
}

.post {
  background-color: rgb(233, 250, 255);
  border-radius: 1.3rem;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 800ms all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-basis: 33.333333%;
}

.post:hover {
  transform: scale(1.07);
}

.underline {
  display: inline-block;
  color: black;
}
.underline:after {
  content: "";
  display: block;
  height: 1rem;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.underline:hover:after {
  width: 100%;
  background: black;
}
