html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.parent1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 8rem;
  border: 3px blue solid;
  border-radius: 5%;
}

.parent1 img {
  width: 30vh;
}
